
.inline {
  display: inline;
}

#foodSearch {
  margin-bottom: 1em;
}
#exerciseSearch {
  margin-bottom: 1em;
}
#duration {
  margin-bottom: .5em;
}
.nav-link {
  font-size: 1em;
}
.meal {
  margin-top: .5em;
}

.chart {
  margin-right: .5em;
}
